.container {
    max-width: 1280px;
    margin: 0 auto;
}

.table{
    width: 50%;
    margin: 0 auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.paragraph{
    text-align: start;
}

.phone{
    width: 121px;
}
